<!DOCTYPE html>
<html>
<head>
  <title>Questions from stupid coach</title>
</head>
<body>
<form class="form-inline" action="/answer" method="get">
    <input type="text" name="question">
    <input class="button" type="submit" value="Ask!">
 </form>
</body>
</html>

